################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mathema/v16
/Mathema/obj
/Mathema.Interfaces/obj
/Mathema.Shared/obj
