################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Mathema/v16
/Mathema/obj
/Mathema.Interfaces/obj
/Mathema.Shared/obj
/Mathema.Algorithms/obj
/Mathema.Models/obj
/Mathema/bin/Debug/netcoreapp3.0
/Mathema.Algorithms/bin/Debug/netcoreapp3.0
/Mathema.Models/bin/Debug/netcoreapp3.0
/Mathema.RPNTests/bin/Debug/netcoreapp3.0
/Mathema.RPNTests/obj
